.player_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    --roundedCorner: 10px;
}

.playback_block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.random_button {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    cursor: pointer;
    color:#AAA;
}

.random_button:hover {
    color: #70c9c8;
    transform: scale(1.2);
}

.buttons_group {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.repeat_button {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 5px;
    background-color: inherit;
    cursor: pointer;
    color: #AAA;
}

.repeat_button:hover {
    color: #70c9c8;
    transform: scale(1.2);
}

.player_controls > input {
    width: 100%;
}

.play_btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: none;
    color: #f2faf9;
    font-size: 24px;
    cursor: pointer;
}

.play_btn:hover {
    color: #70c9c8;
    transform: scale(1.2);
}

.skip_btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f2faf9;
    font-size: 26px;
}

.skip_btn:hover {
    color: #70c9c8;
    transform: scale(1.2);
}


.duration_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.currentTime,
.duration {
    font-family: monospace;
    font-size: 14px;
    color: #AAA;
}

.progressBar {
    --bar-bg: #636c7c;
    --seek-before-width: 0;
    --seek-before-color: #AAA;
    --knobby: #AAA;
    --selectedKnobby: #f2faf9;

    appearance: none;
    background: var(--bar-bg);
    border-radius: var(--roundedCorner);
    position: relative;
    width: 100%;
    height: 1px;
    outline: none;
    cursor: pointer;
}

.progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    border-radius: var(--roundedCorner);
    position: relative;
    width: 100%;
    height: 1px;
    outline: none;
}

.progressBar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: var(--roundedCorner);
    position: relative;
    width: 100%;
    height: 1px;
    outline: none;
}

.progressBar::-moz-focus-outer {
    border: 0
}

/*progress-bar - Chrome and Safari*/
.progressBar::before {
    content: '';
    height: 1px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: var(--roundedCorner);
    border-bottom-left-radius: var(--roundedCorner);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

/*knobby - chrome and safari*/
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1px;
    width: 2px;
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}
    /*knobby while dragging - chrome and safari*/
.progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}
