.playlist_container {
    border: 1px solid #f2faf9;
    margin-bottom: 20px;
}

.playlist_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #f2faf9;
    font-size: 12px;
}

.playlist_element span {
    color: #70c9c8;
}